* Reseteo de estilos por defecto del navegador */ * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: darkseagreen;
}

/* Estilos para el logo */
.logo {
    width: 60px;
    /* Ajusta este valor al tamaño deseado */
    height: 60px;
    margin-inline: 10px 5px;
    /* Espacio entre el logo y el título */

    /* Alineación vertical con el texto */

}

header {
    background: rgba(154, 152, 152, 0.1);
    color: maroon;
    padding: 15px;
    text-align: center;
    border: 3px solid rgba(243, 235, 235, 0.866);
    outline-color: rgba(243, 235, 235, 0.866);
    outline-style: double;
    outline-offset: 5px;
    margin: 8px 23px;
    font-family: Calibri;
    font-size: 22px;
    line-height: 0.60;
    height: 130px;
}

nav ul {
    display: flex;
    justify-content: top-right;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: line;
    padding: 20px;
}

.grid-item {
    background: #f4f4f4;
    padding: 30px;
    border: 1px solid #ddd;
    text-align: center;
}

.grid-item img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
}

.grid-item h2 {
    margin-top: 15px;
    font-size: 1.5rem;
    color: rgba(98, 4, 4, 0.866);
}

.grid-item p {
    margin-top: 10px;
    color: #555;
}

footer {
    background: #33333332;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* 1 columna en pantallas muy pequeñas */
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}

/* Estilos para los íconos de redes sociales */
.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 30px;
    /* Tamaño de los íconos */
    height: auto;
    transition: transform 0.3s ease;
}

.social-media a:hover img {
    transform: scale(1.1);
    /* Efecto de hover para los íconos */
}