@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
  background: rgb(47, 65, 86);
  color: #fff;


}

body {
  margin: 0px 0px;
}

h1 {
  font-family: "Raleway", serif;
  font-size: 24px;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", serif;
}


p {
  font-family: "Raleway", serif;
  /* color: #A1B0C2; */
  color: #DFD3C9;
}

/* First we do the header as we know we build mobile first */
header {
  background-color: rgb(47, 65, 86);
  margin: 0;
  padding: 0;
  /* Something is up here with the width? maybe it is the images */
  width: 100vw;
  /* height: 4.5rem; */

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* Mobile nav bar is visible first */
.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 72px;

}

.menu-line {
  width: 50px;
  height: 5px;
  fill: #dfd3c9;
  background-color: #dfd3c9;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.desktop-nav {
  display: none;
}

/* Now its time to style the main website */

main {
  background-color: rgb(47, 65, 86);
  /* background-color: #A1B0C2; */
  width: 100vw;
}


.big-news {
  position: relative;
  /* background-color: #dfd3c9; */
  display: inline-block;
  margin-bottom: 0px;
  background-color: #A1B0C2;

  /* display: flex;
  flex-direction: column;
  
  align-items: center; */
  /* this makes the bx shadow */
  /* box-shadow: 2px 2px 4px 2px black; */
  /* this rounds the corners */
  /* border-radius: 20px; */
}

img {
  /* height: 366px; */
  width: 100%;

}

img.logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.big-news.main-img {
  display: block;
  width: 100%;
  height: auto;
  /* object-fit: scale-down; */


}

.text-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(223, 211, 201, 0.1);
  color: #dfd3c9;
  /* color: rgb(47, 65, 86); */
  padding: 0px 10px;
  /* font-size: 20px; */
  text-align: left;
  border-radius: 20px;
  width: 90%;
  /* display: flex; */
}

.main-title {
  margin: 0px 0px;
}

.main-p {
  margin-bottom: 0px;
}

.divider {
  /* height: 100px; */
  width: auto;
  /* margin-top: 100px; */
  /* background-color: #A1B0C2; */
  background-color: rgb(47, 65, 86);
  margin-top: 0px;
  /* margin-bottom: 10px; */
}

.divider-text {
  width: auto;
  /* background-color: #A1B0C2; */
  background-color: rgb(47, 65, 86);
  /* color: rgb(47, 65, 86); */
  /* color: #A1B0C2; */
  color: #DFD3C9;
  text-align: center;
  text-transform: uppercase;
}

.divider h2 {
  margin: 0px 0px;
}

.wave {
  --size: 10px;
  --R: calc(var(--size)*1.28);

  -webkit-mask:
    radial-gradient(var(--R) at 50% calc(1.8*var(--size)), #000 99%, #0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(-.8*var(--size)), #0000 99%, #000 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
  background: #A1B0C2;
  /* background: #BFD0E0; */
  /* background: rgb(47, 65, 86); */
  /*linear-gradient(90deg, red, blue); */
  height: 40px;
  width: 100vw;
  /* maring: 15px; */
  /* position: absolute; */
  /* bottom: 10%; */

}

.wave-flipped {
  --size: 10px;
  --R: calc(var(--size)*1.28);

  -webkit-mask:
    radial-gradient(var(--R) at 50% calc(1.8*var(--size)), #000 99%, #0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(-.8*var(--size)), #0000 99%, #000 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
  background: #A1B0C2;
  /* background: rgb(47, 65, 86); */
  /*linear-gradient(90deg, red, blue); */
  height: 40px;
  width: 100vw;
  transform: rotate(180deg);
  /* maring: 15px; */
  /* position: absolute; */
  /* bottom: 10%; */
}



.medium-news {
  background-color: rgb(47, 65, 86);
  /* background-color: #A1B0C2; */
  margin-top: 10px;
}

.medium-article {
  background-color: rgba(223, 211, 201, 0.05);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;

}

.medium-article img {
  border-radius: 20px;

}

.medium-title {
  margin: 2px 25px;
  /* color: #A1B0C2; */
  color: #DFD3C9;

}

.medium-p {
  margin: 0px 25px;
  /* color: #A1B0C2; */
  color: #DFD3C9;
}

/* Here is the last section with the small articles */
.divider-text-little {
  background-color: #A1B0C2;
  color: rgb(47, 65, 86);
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
}

.little-news {
  display: flex;
  flex-direction: column;
  background-color: #A1B0C2;
  margin-top: 0px;
}

.little-article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  margin: 5px 10px;
  height: 33%
}

.little-text-container {
  width: 50%;

}

.little-title {
  font-family: "Raleway", serif;
  font-size: 20px;
  color: rgb(47, 65, 86);
  text-align: left;



}

.little-article a {
  display: block;
  width: 50%;
  height: 100%;
}

.little-news img {
  display: block;
  width: 100%;
  /* height: auto; */
  /* object-fit: scale-down; */
  border-radius: 20px;


}

.fliped {
  transform: rotate(180deg);
}

/* FOOTER */
footer {
  background-color: rgb(47, 65, 86);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.foot-links {
  /* display: none; */
  margin-right: 10px;
}

.foot-writing {
  color: #A1B0C2;
}