/* color palete
background: #2D3142;
#BFC0C0
#FFFFFF
#EF8354
#4F5D75
*/

.container {
  /* 1 column mobile first */
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "nav"
    "main"
    "sidebar"
    "content1"
    "content2"
    "content3"
    "content4"
    "footer";
  grid-gap: 10px;
}

nav {
  background: green;
  grid-area: nav;
}

main {
  background: orange;
  grid-area: main;
}

main img {
  width: 100%;
  max-height: 50vh;
  height: auto;
  display: block;
  margin: 0 auto;
}

main p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  font-weight: bold;
  /* optional */
  background-color: rgba(0, 0, 0, 0.75);
  /* halbtransparenter Hintergrund für bessere Lesbarkeit */
  padding: 10px;
  text-align: center;
}



.sidebar {
  background: greenyellow;
  grid-area: sidebar;
}

.content1 {
  background: yellowgreen;
  grid-area: content1;
}

.content2 {
  background: yellow;
  grid-area: content2;
}

.content3 {
  background: plum;
  grid-area: content3;
}

.content4 {
  background: pink;
  grid-area: content4;
}

footer {
  background: olivedrab;
  grid-area: footer;
}

@media (min-width: 768px) {

  /* two columns for tablets */
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      "nav nav"
      "main main"
      "sidebar content1"
      "sidebar content2"
      "sidebar content3"
      "sidebar content4"
      "footer footer";

  }
}

@media (min-width: 1024px) {

  /* four columns for tablets */
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "nav nav nav nav"
      "main main main main"
      "sidebar sidebar content1 content2"
      "sidebar sidebar content3 content4"
      "footer footer footer footer";

  }
}