body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    background-color: #d3f6d1;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.logo {
    width: 65%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}

.taco-button {
    background-color: transparent;
    border: none;

}

.taco-button:hover {
    transform: translateY(-7px);
    transition: all 0.2s ease-in-out;
}

.taco-button img {
    width: 95%;
    display: block;
}

.header h1 {
    font-size: 60px;
    font-family: 'Chango', sans-serif;
    color: #613232;
}

.navbar {
    background-color: #e3a829;
    height: 45px;
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    padding: 0 30px;
}

.navbar-link {
    display: inline-block;
    background-color: transparent;
    border: none;
    font-size: 17px;
    margin: 0;
    cursor: pointer;
    outline: none;
    padding: 13px;
    text-decoration: none;
    font-family: inherit;
    color: #613232;
    font-weight: bold;

}

.navbar-link:hover {
    background-color: #d1890d;
    text-decoration: none;

}

.hamburger {
    width: 60px;
}

.hamburger-item {
    background: #50b355;
    height: 6px;
    margin: 6px;
}


.top-news-card {
    background-color: #50b355;
    width: 90%;
    height: 15%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
    gap: 10px;
}

.top-news-card:hover {
    background-color: lightgreen;
}

.top-news-child {
    text-align: center;
    font-size: 25px;
    padding: 1rem;
}

.top-news-child:first-child {
    padding: 20px;
}

.top-news-child img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}

.news-card-parent {
    width: 90%;
    height: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    /* repeat(3, 1fr); */
    gap: 10px;
}

.news-card-child {
    display: grid;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #d3f6d1;
    border-radius: 10px;
    gap: 20px;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.news-card-child:hover {
    background-color: #bff5bf;
}

.news-card-child img {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

@media (max-width:699px) {

    /* for mobile  */
    /* breakpoint with font-size at ca 400px */
    .header {
        height: 50%;
        margin-bottom: 0;
    }

    .logo {
        width: 100%;
        height: 100%;
        gap: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0px;
    }

    .taco-button {
        display: none;
    }

    .header h1 {
        font-size: 35px;
    }

    .navbar {
        display: none;
    }

    .top-news-card {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }

    .top-news-child img {
        padding: 0;
        margin-bottom: 0;
    }

    .top-news-child:first-child {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
        font-size: 20px;
        margin-top: 0;
    }

    .top-news-child p {
        display: none;
    }

    .news-card-parent {
        width: 100%;
    }

}

@media (min-width: 700px) and (max-width: 1100px) {

    /* for tablets */
    .logo {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    .top-news-card {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        /* Changed direction using flexbox so that the picture comes first  */
    }

    .top-news-child img {
        padding: 0;
        margin-bottom: 0;
    }

    .top-news-child:first-child {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
        font-size: 20px;
        margin-top: 0;
    }

    .top-news-child p {
        display: none;
    }

    .news-card-parent {
        width: 100%;
    }

}

@media (min-width:1100px) {
    .hamburger {
        display: none;
    }
}

@media (min-width: 1400px) {

    /* wide screen */
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 100%;
        justify-content: center;
    }

    .hamburger {
        display: none;
    }

    /* make logo in the center
    make font-size: bigger in top-newscard  */
}

.footer {
    background-color: #d3f6d1;
    padding: 20px;
    display: grid;
    margin-top: 20px;
    grid-template-rows: max-content;
}

.byline {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.byline img {
    max-width: 2%;
}